In [1]:
import pandas as pd

#### The county_data.csv file was the file that was created and downloaded after using web scraping on the Iowa State University website.

In [3]:
population_change = pd.read_csv('county_data.csv')

In [4]:
display(population_change)

,FIPS,Area Name,1980,1990,2000,2010,2020
0,19000,State of Iowa,"2,913,808","2,776,755","2,926,324","3,046,355","3,190,369"
1,19001,Adair County,"9,509","8,409","8,243","7,682","7,496"
2,19003,Adams County,"5,731","4,866","4,482","4,029","3,704"
3,19005,Allamakee County,"15,108","13,855","14,675","14,330","14,061"
4,19007,Appanoose County,"15,511","13,743","13,721","12,887","12,317"
...,...,...,...,...,...,...,...
95,19189,Winnebago County,"13,010","12,122","11,723","10,866","10,679"
96,19191,Winneshiek County,"21,876","20,847","21,310","21,056","20,070"
97,19193,Woodbury County,"100,884","98,276","103,877","102,172","105,941"
98,19195,Worth County,"9,075","7,991","7,909","7,598","7,443"
99,19197,Wright County,"16,319","14,269","14,334","13,229","12,943"

In [5]:
# Renaming 'Area Name' to 'County' to prepare for merging. I also dropped the column titled FIPS, because it was not needed for the purposes of this project
population_change = population_change.rename(columns={'Area Name': 'County', '1980':'1980_pop', '1990':'1990_pop', '2000':'2000_pop', '2010':'2010_pop', '2020':'2020_pop'})
population_change = population_change.drop(columns=['FIPS'])
population_change

               County   1980_pop   1990_pop   2000_pop   2010_pop   2020_pop
0       State of Iowa  2,913,808  2,776,755  2,926,324  3,046,355  3,190,369
1        Adair County      9,509      8,409      8,243      7,682      7,496
2        Adams County      5,731      4,866      4,482      4,029      3,704
3    Allamakee County     15,108     13,855     14,675     14,330     14,061
4    Appanoose County     15,511     13,743     13,721     12,887     12,317
..                ...        ...        ...        ...        ...        ...
95   Winnebago County     13,010     12,122     11,723     10,866     10,679
96  Winneshiek County     21,876     20,847     21,310     21,056     20,070
97    Woodbury County    100,884     98,276    103,877    102,172    105,941
98       Worth County      9,075      7,991      7,909      7,598      7,443
99      Wright County     16,319     14,269     14,334     13,229     12,943

[100 rows x 6 columns]

In [6]:
# The income.csv file was downloaded from the National Institute on Minority Health and Health Disparites website
income = pd.read_csv('income.csv')
income = income.rename(columns={'Value (Dollars)':'Median_Household_Income'})

In [7]:
display(income)

              County Median_Household_Income
0   Appanoose County                  60,169
1     Decatur County                  66,754
2     Wapello County                  67,016
3   Jefferson County                  68,298
4      Clarke County                  70,580
..               ...                     ...
94    Madison County                 105,706
95     Warren County                 107,434
96      Story County                 109,432
97    Johnson County                 112,575
98     Dallas County                 130,231

[99 rows x 2 columns]

In [8]:
# The unemployment.csv file was also downloaded from the National Institute on Minority Health and Health Disparites website. I removed the unnecessary columns. 
unemployment = pd.read_csv('unemployment.csv')
unemployment = unemployment.drop(columns=['FIPS'])
unemployment = unemployment.drop(columns=['Rank within US (of 3143 counties)'])
unemployment = unemployment.drop(columns=['People Unemployed)'])

In [9]:
display(unemployment)

               County  Unemployment Rate
0         Page County                6.6
1   Pocahontas County                6.3
2    Appanoose County                6.1
3        Union County                5.7
4     Marshall County                5.6
..                ...                ...
94      Howard County                1.5
95        Cass County                1.4
96       Boone County                1.3
97    Mitchell County                0.9
98     Audubon County                0.7

[99 rows x 2 columns]

In [10]:
rural_urban = pd.read_csv('rural_urban.csv')

In [11]:
display(rural_urban)

               County Urban Percent Rural Percent
0        Adair County         0.00%       100.00%
1        Adams County         0.00%       100.00%
2    Allamakee County         0.00%       100.00%
3    Appanoose County        42.80%        57.20%
4      Audubon County         0.00%       100.00%
..                ...           ...           ...
94   Winnebago County         0.00%       100.00%
95  Winneshiek County        39.80%        60.20%
96    Woodbury County        83.90%        16.10%
97       Worth County         0.00%       100.00%
98      Wright County         0.00%       100.00%

[99 rows x 3 columns]

In [12]:
integrated_counties = pd.merge(population_change, income, on="County", how="inner")

In [13]:
display(integrated_counties)

,County,1980_pop,1990_pop,2000_pop,2010_pop,2020_pop,Median_Household_Income
0,Adair County,"9,509","8,409","8,243","7,682","7,496","87,135"
1,Adams County,"5,731","4,866","4,482","4,029","3,704","82,639"
2,Allamakee County,"15,108","13,855","14,675","14,330","14,061","77,754"
3,Appanoose County,"15,511","13,743","13,721","12,887","12,317","60,169"
4,Audubon County,"8,559","7,334","6,830","6,119","5,674","75,473"
...,...,...,...,...,...,...,...
94,Winnebago County,"13,010","12,122","11,723","10,866","10,679","86,098"
95,Winneshiek County,"21,876","20,847","21,310","21,056","20,070","88,023"
96,Woodbury County,"100,884","98,276","103,877","102,172","105,941","86,194"
97,Worth County,"9,075","7,991","7,909","7,598","7,443","87,750"
98,Wright County,"16,319","14,269","14,334","13,229","12,943","72,665"

In [14]:
integrated_counties1 = pd.merge(integrated_counties, unemployment, on="County", how="inner")

In [15]:
integrated_counties1

,County,1980_pop,1990_pop,2000_pop,2010_pop,2020_pop,Median_Household_Income,Unemployment Rate
0,Adair County,"9,509","8,409","8,243","7,682","7,496","87,135",3.9
1,Adams County,"5,731","4,866","4,482","4,029","3,704","82,639",4.2
2,Allamakee County,"15,108","13,855","14,675","14,330","14,061","77,754",3.2
3,Appanoose County,"15,511","13,743","13,721","12,887","12,317","60,169",6.1
4,Audubon County,"8,559","7,334","6,830","6,119","5,674","75,473",0.7
...,...,...,...,...,...,...,...,...
94,Winnebago County,"13,010","12,122","11,723","10,866","10,679","86,098",2.5
95,Winneshiek County,"21,876","20,847","21,310","21,056","20,070","88,023",2.1
96,Woodbury County,"100,884","98,276","103,877","102,172","105,941","86,194",4.5
97,Worth County,"9,075","7,991","7,909","7,598","7,443","87,750",3.3
98,Wright County,"16,319","14,269","14,334","13,229","12,943","72,665",2.2

In [37]:
integrated_counties2 = pd.merge(integrated_counties1, rural_urban, on="County", how="inner")
integrated_counties2['County'] = integrated_counties2['County'].str.replace(r' County$', '', regex=True)

In [39]:
integrated_counties2

,County,1980_pop,1990_pop,2000_pop,2010_pop,2020_pop,Median_Household_Income,Unemployment Rate,Urban Percent,Rural Percent
0,Adair,"9,509","8,409","8,243","7,682","7,496","87,135",3.9,0.00%,100.00%
1,Adams,"5,731","4,866","4,482","4,029","3,704","82,639",4.2,0.00%,100.00%
2,Allamakee,"15,108","13,855","14,675","14,330","14,061","77,754",3.2,0.00%,100.00%
3,Appanoose,"15,511","13,743","13,721","12,887","12,317","60,169",6.1,42.80%,57.20%
4,Audubon,"8,559","7,334","6,830","6,119","5,674","75,473",0.7,0.00%,100.00%
...,...,...,...,...,...,...,...,...,...,...
94,Winnebago,"13,010","12,122","11,723","10,866","10,679","86,098",2.5,0.00%,100.00%
95,Winneshiek,"21,876","20,847","21,310","21,056","20,070","88,023",2.1,39.80%,60.20%
96,Woodbury,"100,884","98,276","103,877","102,172","105,941","86,194",4.5,83.90%,16.10%
97,Worth,"9,075","7,991","7,909","7,598","7,443","87,750",3.3,0.00%,100.00%
98,Wright,"16,319","14,269","14,334","13,229","12,943","72,665",2.2,0.00%,100.00%

In [41]:
integrated_counties2.to_csv("integrated_counties.csv", header=True, index=False, encoding="utf-8")